.board_element{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.refresh_button{
   margin: 20px;
   padding: 10px 20px;
    font-size: 20px;
}
.header_element{
    margin: 20px;
    padding: 10px 20px;
}